### laravel ###
/node_modules
/public/hot
/public/js
/public/css
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

### statamic ###
/public/vendor/statamic
/public/vendor/app

### phpstorm ###
/.idea

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace